@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

$gray-light: #6c757d10;
$gray-hover: #6c757d20;
$gray-mid: #6c757d99;
$gray-dark: #343a40;
$cherry: #cb181d;
$cherry-mid: #cb181d99;
$cherry-light: #cb181d20;
$cherry-hover: #cb181d30;
$cherry-light-opaque: #ffe0e6;
$green: #28a745;
$green-light: #28a74520;
$green-hover: #28a74530;
$green-mid: #28a74599;

.App {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
}

.notification {
  max-width: 30rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  svg {
    width: 1rem;
    vertical-align: bottom;
    margin-right: 1rem;
  }
}

.header {
  margin-top: 2rem;
  width: 20rem;
  align-self: center;
  position: relative;
  svg {
    position: absolute;
    left: -2rem;
    top: 0.35rem;
    width: 26px;
  }
  h2 {
    margin-bottom: 0 !important;
  }
}

.clipboard {
  cursor: pointer;
}

.table {
  flex: 0.5;
  max-width: 35rem;
  min-height: 35rem;
  margin-left: auto;
  margin-right: auto;
  .help {
    padding-left: 0.5rem;
  }
  th.state-heading {
    width: 268px;
  }
}

.level-parent {
  margin-top: 2rem;
  width: 20rem;
  align-self: center;
  .level-item {
    min-width: 4rem;
  }
}

.level-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  p {
    span {
      font-size: 1rem;
    }
  }
}

abbr {
  text-decoration: none;
}

.map {
  flex: 0.5;
  position: relative;
  margin-top: 2.5rem;
  width: 40rem;
  align-self: center;
}

.map-stats {
  background: $cherry-light;
  padding: 0.5rem;
  border-radius: 5px;
  position: absolute;
  width: 9rem;
  min-height: 5rem;
  max-height: 15rem;
  bottom: 1.5rem;
  left: 1rem;
  pointer-events: none;
  nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    .title {
      font-size: 1.5rem;
      color: $cherry;
      margin-top: -0.25rem;
    }
    .level-item {
      align-self: flex-start;
    }
    .heading {
      color: $cherry-mid;
    }
  }
  .state-heading {
    color: $cherry;
  }
}

.table-helper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: -2rem;
  margin-bottom: 1rem;
  background: $gray-light;
  padding: 0.5rem;
  border-radius: 5px;
}

@media (max-width: 769px) {
  .app-left {
    flex: 1;
    width: 100%;
    .header {
      padding-left: 1rem;
    }
  }
  .level {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }
  .notification {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .map {
    display: flex;
    flex-direction: column-reverse !important;
    width: 100%;
    svg {
      align-self: center;
    }
  }
  .app-right {
    flex: 1;
    margin-left: 0;
  }
  .table {
    overflow-x: scroll;
    width: 100%;
    margin: 0;
    table-layout: fixed;
    th {
      word-wrap: break-word;
    }
  }
  .map-stats {
    position: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    border-radius: 0;
    .state-heading {
      word-wrap: break-word;
      align-self: center;
    }
    nav {
      flex-direction: row;
      justify-content: center;
      .level-item {
        margin-top: 0.25rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        text-align: center;
        &:last-child {
          margin-bottom: 0.75rem;
          margin-right: 1.5rem;
        }
      }
    }
  }
}

/* Animation Support */
.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 0.450s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}