
.LevelVaccinated {
  align-items: center;
  align-self: center;
  animation-delay: 200ms;
  background: $pink-light;
  border-radius: 5px;
  color: $pink;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
  padding: 0.5rem;

  h4 {
    font-weight: 500;
    margin: 0 0 0 0.25rem;
  }
}

@media (max-width: 769px) {
  .LevelVaccinated {
    margin-bottom: 3rem !important;
    margin-top: 2rem !important;
  }
}
