
.StateDropdown {
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;

  .state-name {
    background: $brick-light;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.25rem;
  }

  .dropdown {
    background: $white;
    border-radius: 5px;
    height: 25rem;
    left: -0.25rem;
    overflow-y: scroll;
    position: absolute;
    top: 2.75rem;
    width: 15rem;
    z-index: 999;

    .item {
      color: $red;
      cursor: pointer;
      padding: 0.75rem;

      &:hover {
        background: $red-hover;
      }
    }
  }

  .backdrop {
    background: $red-light;
    height: 100vh;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
  }
}
