
.StateHeader {
  align-self: center;
  display: flex;
  flex-direction: row;
  height: 5.25rem;
  justify-content: space-between;
  margin-bottom: 1rem;
  position: relative;
  width: 100%;

  & > * {
    align-self: flex-start;
  }

  .header-left {
    h1,
    h5 {
      margin: 0;
    }

    h1 {
      color: $brick;
      max-width: 20rem;
    }

    h5 {
      color: $gray;
      font-weight: 600;
      margin-top: 0.5rem;
    }
  }

  .header-right {
    color: $purple-mid;
    display: flex;
    flex-direction: column;
    text-align: right;

    h2,
    h5 {
      font-weight: 600;
      margin: 0;
    }

    h2 {
      color: $purple;
      font-weight: 900;
    }

    a {
      background: $purple-light;
      color: inherit;
      text-decoration: none;

      &:hover {
        background: $purple-hover;
      }
    }
  }
}
