@import "./colors";

@function themed($key) {
  @return map-get($theme-map, $key);
}

$themes: (
  light: (
    icon-filter: none,
    app-bg-color: $white,
    header-h1: $gray-dark,
    navbar-focused: $gray,
    table-header: $gray-dark,
    table-body: $gray,
    tbody-odd-bg: $light,
    tab-focused: $gray,
    timeseries-header-h1: $gray-dark,
    banner-bg: $purple-light,
    banner-text-color: $purple,
    faq-question-color: $gray-dark,
    link-h3-color: $gray-dark,
    choropleth-map-filter: none
  ),
  dark: (
    icon-filter: invert(100),
    app-bg-color: $black,
    header-h1: $light,
    navbar-focused: $blue-light-opaque,
    table-header: $blue-light-opaque,
    table-body: $gray-light-opaque,
    tbody-odd-bg: $gray-opaque,
    tab-focused: $gray-light-opaque,
    timeseries-header-h1: $light,
    banner-bg: $gray-mid,
    banner-text-color: $purple-light-opaque,
    faq-question-color: $gray-light-opaque,
    link-h3-color: $gray-light-opaque,
    choropleth-map-filter: invert(100%) hue-rotate(180deg) contrast(90%)
  )
);
