// Color Pallete

$blue: #007bff;
$blue-light: #007bff10;
$blue-hover: #007bff30;
$blue-light-opaque: #eff7ff;
$blue-mid: #007bff99;
$pblue: #4c75f2;
$pblue-light: #4c75f210;
$pblue-hover: #4c75f230;
$pblue-light-opaque: #eff7ff;
$pblue-mid: #4c75f299;
$cherry: #ff073a;
$cherry-mid: #ff073a99;
$cherry-light: #ff073a20;
$cherry-hover: #ff073a30;
$cherry-light-opaque: #ffe0e6;
$red: #dc3545;
$red-light: #dc354520;
$red-mid: #dc354599;
$red-hover: #dc354530;
$orange: #fd7e14;
$orange-mid: #fd7e1499;
$orange-light: #fd7e1420;
$orange-hover: #fd7e1430;
$orange-light-opaque: #ffefe2;
$yellow: #ffc107;
$yellow-light: #ffc10720;
$yellow-hover: #ffc10730;
$yellow-mid: #ffc10799;
$yellow-light-opaque: #fff7e0;
$green: #28a745;
$green-light: #28a74520;
$green-hover: #28a74530;
$green-mid: #28a74599;
$gray: #6c757d;
$gray-light: #6c757d10;
$gray-light-opaque: #f6f6f7;
$gray-hover: #6c757d20;
$gray-mid: #6c757d99;
$gray-middark: #6c757d30;
$gray-dark: #343a40;
$gray-opaque: #f1f1f1;
$gray-hover-opaque: #edeeef;
$gray-hover-darker-opaque: #f6f6f7;
$purple: #201aa2dd;
$purple-light: #201aa220;
$purple-hover: #201aa230;
$purple-mid: #201aa299;
$purple-light-opaque: #e3e2f3;
$pink: #fb5581;
$pink-light: #ffa8cb30;
$pink-hover: #ffa8cb60;
$pink-mid: #fb558199;
$brown: #b6854d;
$brown-light: #b6854d10;
$brown-hover: #b6854d30;
$brown-mid: #b6854d99;
$brick: #e23028;
$brick-light: #e2302810;
$white: #fff;
$light: #f8f9fa;
$dark: #343a40;
$black: #000;
$search-backdrop: #fff;

// Dark mode variables
$d-blue: #0a84ff;
$d-blue-light: #0a84ff10;
$d-blue-hover: #0a84ff30;
$d-blue-light-opaque: #eff7ff;
$d-blue-mid: #0a84ff99;
$d-pblue: #4c75f2;
$d-pblue-light: #4c75f210;
$d-pblue-hover: #4c75f230;
$d-pblue-light-opaque: #eff7ff;
$d-pblue-mid: #4c75f299;
$d-cherry: #ff453a;
$d-cherry-mid: #ff453a99;
$d-cherry-light: #ff453a20;
$d-cherry-hover: #ff453a30;
$d-cherry-light-opaque: #ffe0e6;
$d-red: #dc3545;
$d-red-light: #dc354520;
$d-red-mid: #dc354599;
$d-red-hover: #dc354530;
$d-orange: #fd7e14;
$d-orange-mid: #fd7e1499;
$d-orange-light: #fd7e1420;
$d-orange-hover: #fd7e1430;
$d-orange-light-opaque: #ffefe2;
$d-yellow: #ffc107;
$d-yellow-light: #ffc10720;
$d-yellow-hover: #ffc10730;
$d-yellow-mid: #ffc10799;
$d-yellow-light-opaque: #fff7e0;
$d-green: #30d158;
$d-green-light: #30d15820;
$d-green-hover: #30d15830;
$d-green-mid: #30d15899;
$d-gray: #8e8e93;
$d-gray-light: #c3c3c410;
$d-gray-light-opaque: #161625;
$d-gray-hover: #c3c3c420;
$d-gray-mid: #c3c3c499;
$d-gray-middark: #c3c3c430;
$d-gray-dark: #343a40;
$d-gray-opaque: #f1f1f1;
$d-gray-hover-opaque: #f6f6f710;
$d-gray-hover-darker-opaque: #f6f6f710;
$d-purple: #9673b9;
$d-purple-light: #40008050;
$d-purple-hover: #201aa230;
$d-purple-mid: #9673b9bb;
$d-purple-light-opaque: #e3e2f3;
$d-pink: #fb5581;
$d-pink-light: #ffa8cb30;
$d-pink-hover: #ffa8cb60;
$d-pink-mid: #fb558199;
$d-brown: #b6854d;
$d-brown-light: #b6854d10;
$d-brown-hover: #b6854d30;
$d-brown-mid: #b6854d99;
$d-brick: #e23028;
$d-brick-light: #e2302810;
$d-white: #f2f2f7;
$d-light: #f8f9fa;
$d-dark: #343a40;
$d-black: #161625;
$d-search-backdrop: #f6f6f710;

:root {
  --blue: #{$blue};
  --blue-light: #{$blue-light};
  --blue-hover: #{$blue-hover};
  --blue-light-opaque: #{$blue-light-opaque};
  --blue-mid: #{$blue-mid};
  --pblue: #{$pblue};
  --pblue-light: #{$pblue-light};
  --pblue-hover: #{$pblue-hover};
  --pblue-light-opaque: #{$pblue-light-opaque};
  --pblue-mid: #{$pblue-mid};
  --cherry: #{$cherry};
  --cherry-mid: #{$cherry-mid};
  --cherry-light: #{$cherry-light};
  --cherry-hover: #{$cherry-hover};
  --cherry-light-opaque: #{$cherry-light-opaque};
  --red: #{$red};
  --red-light: #{$red-light};
  --red-mid: #{$red-mid};
  --red-hover: #{$red-hover};
  --orange: #{$orange};
  --orange-mid: #{$orange-mid};
  --orange-light: #{$orange-light};
  --orange-hover: #{$orange-hover};
  --orange-light-opaque: #{$orange-light-opaque};
  --yellow: #{$yellow};
  --yellow-light: #{$yellow-light};
  --yellow-hover: #{$yellow-hover};
  --yellow-mid: #{$yellow-mid};
  --yellow-light-opaque: #{$yellow-light-opaque};
  --green: #{$green};
  --green-light: #{$green-light};
  --green-hover: #{$green-hover};
  --green-mid: #{$green-mid};
  --gray: #{$gray};
  --gray-light: #{$gray-light};
  --gray-light-opaque: #{$gray-light-opaque};
  --gray-hover: #{$gray-hover};
  --gray-mid: #{$gray-mid};
  --gray-middark: #{$gray-middark};
  --gray-dark: #{$gray-dark};
  --gray-opaque: #{$gray-opaque};
  --gray-hover-opaque: #{$gray-hover-opaque};
  --gray-hover-darker-opaque: #{$gray-hover-darker-opaque};
  --purple: #{$purple};
  --purple-light: #{$purple-light};
  --purple-hover: #{$purple-hover};
  --purple-mid: #{$purple-mid};
  --purple-light-opaque: #{$purple-light-opaque};
  --pink: #{$pink};
  --pink-light: #{$pink-light};
  --pink-hover: #{$pink-hover};
  --pink-mid: #{$pink-mid};
  --brown: #{$brown};
  --brown-light: #{$brown-light};
  --brown-hover: #{$brown-hover};
  --brown-mid: #{$brown-mid};
  --brick: #{$brick};
  --brick-light: #{$brick-light};
  --white: #{$white};
  --light: #{$light};
  --dark: #{$dark};
  --black: #{$black};
  --search-backdrop: #{$search-backdrop};
}

body {
  background-color: var(--white);
  color: var(--black);
}

.dark-mode {
  --blue: #{$d-blue};
  --blue-light: #{$d-blue-light};
  --blue-hover: #{$d-blue-hover};
  --blue-light-opaque: #{$d-blue-light-opaque};
  --blue-mid: #{$d-blue-mid};
  --pblue: #{$d-pblue};
  --pblue-light: #{$d-pblue-light};
  --pblue-hover: #{$d-pblue-hover};
  --pblue-light-opaque: #{$d-pblue-light-opaque};
  --pblue-mid: #{$d-pblue-mid};
  --cherry: #{$d-cherry};
  --cherry-mid: #{$d-cherry-mid};
  --cherry-light: #{$d-cherry-light};
  --cherry-hover: #{$d-cherry-hover};
  --cherry-light-opaque: #{$d-cherry-light-opaque};
  --red: #{$d-red};
  --red-light: #{$d-red-light};
  --red-mid: #{$d-red-mid};
  --red-hover: #{$d-red-hover};
  --orange: #{$d-orange};
  --orange-mid: #{$d-orange-mid};
  --orange-light: #{$d-orange-light};
  --orange-hover: #{$d-orange-hover};
  --orange-light-opaque: #{$d-orange-light-opaque};
  --yellow: #{$d-yellow};
  --yellow-light: #{$d-yellow-light};
  --yellow-hover: #{$d-yellow-hover};
  --yellow-mid: #{$d-yellow-mid};
  --yellow-light-opaque: #{$d-yellow-light-opaque};
  --green: #{$d-green};
  --green-light: #{$d-green-light};
  --green-hover: #{$d-green-hover};
  --green-mid: #{$d-green-mid};
  --gray: #{$d-gray};
  --gray-light: #{$d-gray-light};
  --gray-light-opaque: #{$d-gray-light-opaque};
  --gray-hover: #{$d-gray-hover};
  --gray-mid: #{$d-gray-mid};
  --gray-middark: #{$d-gray-middark};
  --gray-dark: #{$d-gray-dark};
  --gray-opaque: #{$d-gray-opaque};
  --gray-hover-opaque: #{$d-gray-hover-opaque};
  --gray-hover-darker-opaque: #{$d-gray-hover-darker-opaque};
  --purple: #{$d-purple};
  --purple-light: #{$d-purple-light};
  --purple-hover: #{$d-purple-hover};
  --purple-mid: #{$d-purple-mid};
  --purple-light-opaque: #{$d-purple-light-opaque};
  --pink: #{$d-pink};
  --pink-light: #{$d-pink-light};
  --pink-hover: #{$d-pink-hover};
  --pink-mid: #{$d-pink-mid};
  --brown: #{$d-brown};
  --brown-light: #{$d-brown-light};
  --brown-hover: #{$d-brown-hover};
  --brown-mid: #{$d-brown-mid};
  --brick: #{$d-brick};
  --brick-light: #{$d-brick-light};
  --white: #{$d-black};
  --light: #{$d-light};
  --dark: #{$d-dark};
  --black: #{$d-white};
  --search-backdrop: #{$d-search-backdrop};

  img {
    filter: invert(1);
  }
}
