// Color Pallete

:root {
  --primary: rgba(76, 117, 242, 1);
  --primary-10: rgba(76, 117, 242, 0.1);
  --primary-25: rgba(76, 117, 242, 0.25);
  --primary-50: rgba(76, 117, 242, 0.5);
  --blue: rgba(0, 123, 255, 1);
  --blue-10: rgba(0, 123, 255, 0.1);
  --blue-25: rgba(0, 123, 255, 0.2);
  --blue-50: rgba(0, 123, 255, 0.5);
  --blue-75: rgba(0, 123, 255, 0.75);
  --cherry: rgba(255, 7, 58, 1);
  --cherry-10: rgba(255, 7, 58, 0.1);
  --cherry-25: rgba(255, 7, 58, 0.2);
  --cherry-50: rgba(255, 7, 58, 0.5);
  --cherry-75: rgba(255, 7, 58, 0.75);
  --orange: rgba(253, 126, 20, 1);
  --orange-10: rgba(253, 126, 20, 0.1);
  --orange-50: rgba(253, 126, 20, 0.5);
  --yellow: rgba(255, 193, 7, 1);
  --yellow-25: rgba(255, 193, 7, 0.2);
  --yellow-10: rgba(255, 193, 7, 0.1);
  --yellow-50: rgba(255, 193, 7, 0.5);
  --yellow-75: rgba(255, 193, 7, 0.75);
  --green: rgba(40, 167, 69, 1);
  --green-25: rgba(40, 167, 69, 0.2);
  --green-10: rgba(40, 167, 69, 0.1);
  --green-50: rgba(40, 167, 69, 0.5);
  --green-75: rgba(40, 167, 69, 0.75);
  --purple: rgba(32, 26, 162, 1);
  --purple-10: rgba(32, 26, 162, 0.1);
  --purple-25: rgba(32, 26, 162, 0.2);
  --purple-50: rgba(32, 26, 162, 0.5);
  --purple-75: rgba(32, 26, 162, 0.75);
  --pink: rgba(251, 85, 129, 1);
  --pink-10: rgba(251, 85, 129, 0.1);
  --brown: rgba(103, 71, 35, 1);
  --brown-10: rgba(103, 71, 35, 0.1);
  --brown-25: rgba(103, 71, 35, 0.25);
  --brown-50: rgba(103, 71, 35, 0.5);
  --brown-75: rgba(103, 71, 35, 0.75);
  --brick: rgba(226, 48, 40, 1);
  --brick-10: rgba(226, 48, 40, 0.1);
  --brick-25: rgba(226, 48, 40, 0.2);
  --brick-50: rgba(226, 48, 40, 0.5);
  --brick-75: rgba(226, 48, 40, 0.75);
  --gray: rgba(108, 117, 125, 1);
  --gray-10: rgba(108, 117, 125, 0.1);
  --gray-25: rgba(108, 117, 125, 0.2);
  --gray-50: rgba(108, 117, 125, 0.5);
  --gray-75: rgba(108, 117, 125, 0.75);
  --black: rgba(0, 0, 0, 1);
  --black-5: rgba(0, 0, 0, 0.05);
  --black-10: rgba(0, 0, 0, 0.1);
  --black-25: rgba(0, 0, 0, 0.2);
  --black-50: rgba(0, 0, 0, 0.5);
  --black-75: rgba(0, 0, 0, 0.75);
  --white: rgba(255, 255, 255, 1);
  --search-backdrop: rgba(255, 255, 255, 1);
  --opaque: rgba(242, 242, 242, 1);
  --twitter: rgba(29, 161, 242, 1);
  --twitter-50: rgba(29, 161, 242, 0.5);
}

.dark-mode {
  --primary: rgba(136, 163, 255, 1);
  --primary-25: rgba(136, 163, 255, 0.25);
  --primary-50: rgba(136, 163, 255, 0.5);
  --blue: rgba(0, 123, 255, 1);
  --cherry: rgba(255, 7, 58, 1);
  --cherry-50: rgba(255, 7, 58, 0.5);
  --cherry-75: rgba(255, 7, 58, 0.75);
  --orange: rgba(253, 126, 20, 1);
  --yellow: rgba(255, 193, 7, 1);
  --green: rgba(40, 167, 69, 1);
  --green-50: rgba(40, 167, 69, 0.5);
  --purple: rgba(191, 90, 242, 1);
  --purple-10: rgba(191, 90, 242, 0.1);
  --purple-25: rgba(191, 90, 242, 0.25);
  --purple-50: rgba(191, 90, 242, 0.5);
  --purple-75: rgba(191, 90, 242, 0.75);
  --pink: rgba(251, 85, 129, 1);
  --brown: rgba(182, 133, 77, 1);
  --brown-10: rgba(182, 133, 77, 0.1);
  --brown-25: rgba(182, 133, 77, 0.2);
  --brown-50: rgba(182, 133, 77, 0.5);
  --brown-75: rgba(182, 133, 77, 0.75);
  --brick: rgba(226, 48, 40, 1);
  --gray: rgba(108, 117, 125, 1);
  --black: rgba(242, 242, 247, 1);
  --black-5: rgba(242, 242, 247, 0.05);
  --black-10: rgba(242, 242, 247, 0.1);
  --black-25: rgba(242, 242, 247, 0.2);
  --black-50: rgba(242, 242, 247, 0.5);
  --black-75: rgba(242, 242, 247, 0.75);
  --white: rgba(28, 28, 30, 1);
  --search-backdrop: rgba(58, 58, 60, 1);
  --opaque: rgba(44, 44, 46, 1);
  --twitter: rgba(29, 161, 242, 1);
  --twitter-50: rgba(29, 161, 242, 0.5);

  img {
    filter: invert(1);
  }
}

body {
  background-color: var(--white);
  color: var(--black);
}
