@import './colors';
@import '~modularscale-sass/stylesheets/modularscale';

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: ms(5);
  padding-bottom: ms(3);
  padding-right: ms(1);
  padding-top: ms(1);
  width: calc(100% - #{ms(1)});

  svg {
    margin-left: ms(0);
    margin-right: ms(0);
  }

  .message {
    color: var(--pblue);
    font-size: ms(0);
    font-weight: 600;
    margin-bottom: ms(1);
    margin-top: ms(0);
  }

  .telegram {
    color: var(--blue-mid);

    &:hover {
      color: var(--blue);
    }
  }

  .github {
    color: var(--gray-mid);

    &:hover {
      color: var(--gray);
    }
  }

  .twitter {
    color: var(--pblue-mid);

    &:hover {
      color: var(--pblue);
    }
  }

  .api {
    color: var(--yellow-mid);

    &:hover {
      color: var(--yellow);
    }
  }

  .mail {
    color: var(--brown-mid);

    &:hover {
      color: var(--brown);
    }
  }
}
