@import './colors';
@import '~modularscale-sass/stylesheets/modularscale';

.state-header {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: ms(0);
  position: relative;
  width: 100%;

  * {
    align-self: flex-start;
  }

  .header-left {
    .state-name,
    .date {
      margin: 0;
    }

    .state-name {
      color: var(--brick);
      max-width: ms(6);
    }

    .date {
      color: var(--gray);
      font-weight: 600;
      margin-top: ms(-1);
    }
  }

  .header-right {
    color: var(--purple-mid);
    display: flex;
    flex-direction: column;
    text-align: right;

    .tested-statistic,
    .tested-title {
      align-self: flex-end;
      font-weight: 900;
      margin: 0;
      text-align: right;
    }

    .tested-statistic {
      color: var(--purple);
      font-weight: 900;
    }

    .timestamp,
    .source {
      align-self: flex-end;
      margin: 0;
      text-align: right;
    }

    .timestamp {
      margin-top: ms(-3);
    }

    a {
      background: var(--purple-light);
      color: inherit;
      text-decoration: none;

      &:hover {
        background: var(--purple-hover);
      }
    }
  }
}
