@import '~modularscale-sass/stylesheets/modularscale';

@mixin statistic-colors($statistic, $color) {
  &.#{$statistic} {
    background: var(--#{$color}-10);

    .title,
    .date,
    svg,
    p {
      color: var(--#{$color}-50);
    }

    .statistic {
      color: var(--#{$color});
    }
  }
}

.population {
  .title,
  .statistic {
    color: var(--gray);
    margin: 0;
  }

  .title {
    margin-bottom: ms(-2);
  }

  .statistic {
    font-weight: 600;
  }

  .footnote {
    align-items: center;
    color: var(--black-50);
    display: flex;
    flex-direction: row;
    font-size: ms(-1);
    margin-bottom: ms(1);
    margin-top: ms(1);

    .source {
      background: var(--black-5);
      color: var(--black-50);
      padding: ms(-3);
    }

    .icon {
      height: ms(1);
      margin-right: ms(-1);
      width: ms(1);

      svg {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.state-meta {
  align-self: center;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 3rem;
  width: 100%;

  .meta-item {
    @include statistic-colors('confirmed', 'cherry');
    @include statistic-colors('active', 'blue');
    @include statistic-colors('recovery', 'green');
    @include statistic-colors('mortality', 'gray');
    @include statistic-colors('cpm', 'yellow');
    @include statistic-colors('tpm', 'purple');
    @include statistic-colors('ptr', 'pink');
    @include statistic-colors('gr', 'brown');

    border-radius: 5px;
    min-height: 6rem;
    padding-left: 1rem;
    padding-top: 1rem;

    .title,
    .date,
    .statistic,
    .subtitle {
      margin: 0;
    }

    .statistic {
      margin-top: ms(-4);
    }

    .title {
      font-weight: 600;
    }

    .meta-item-top {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      span {
        margin-right: 1rem;
      }

      svg {
        cursor: pointer;
      }
    }

    .meta-item-middle {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      * {
        align-self: center;
      }

      svg {
        cursor: pointer;
        margin-right: 1rem;
      }
    }

    .description {
      font-weight: 600;
      line-height: 150%;
      margin-bottom: 1.25rem;
      padding-right: 1rem;
    }

    &.confirmed {
      .subtitle {
        color: var(--cherry);
        font-weight: 600;
      }
    }
  }
}

@media (max-width: 769px) {
  .state-meta {
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: repeat(auto-fit, minmax(5rem));
    margin-bottom: 1rem;

    .meta-item {
      min-width: 1rem;
    }
  }
}
