@import '~modularscale-sass/stylesheets/modularscale';

input {
  &.switch {
    appearance: none;
    background-color: var(--white);
    border: 2px solid var(--black-25);
    border-radius: 10px;
    cursor: pointer;
    height: 14px;
    margin: 0;
    outline: none;
    position: relative;
    transition: all 300ms ease-in-out;
    width: 24px;

    &::after {
      background-color: var(--black-25);
      border-radius: 50%;
      content: '';
      height: 10px;
      left: 0;
      position: absolute;
      top: 0;
      transition: all 300ms ease-in-out;
      width: 10px;
    }

    &:checked {
      background-color: var(--black-50);
      transition: all 300ms ease-in-out;

      &::after {
        background-color: var(--white);
        left: 10px;
        transition: all 300ms ease-in-out;
      }
    }
  }
}

.disabled {
  input {
    &.switch {
      background: var(--black-5) !important;
      border: var(--gray-10) 2px solid !important;
      cursor: not-allowed !important;

      &::after {
        background: var(--black-10) !important;
      }
    }
  }
}
