@import './colors';
@import '~modularscale-sass/stylesheets/modularscale';

.tabs {
  display: flex;
  flex-direction: row;
  position: relative;

  h6 {
    margin: 0;
  }

  .tab {
    align-items: center;
    background: var(--gray-light);
    border-top-left-radius: ms(-3);
    border-top-right-radius: ms(-3);
    color: var(--gray-mid);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: ms(3);
    justify-content: center;
    margin-right: ms(-3);
    padding-left: ms(1);
    padding-right: ms(1);
    text-align: center;

    &:hover {
      background: var(--gray-hover);
    }

    &.focused {
      background: var(--gray-opaque);
      color: var(--gray);
    }
  }
}
